<ion-view view-title="Saylani Welfare International Trust" id="tour-view" class="tou">

    <ion-slide-box show-pager="true">
        <ion-slide>
            <img src="img\Saylani-logo1 (1).png" height="100" width="300">
            <span></span>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

                <a id="lage" class="button button-block button-positive" href="#/home" nav-clear>
                    Start</a>
            <br/>
            <br/>
            <br/>

            <p class="note" id="shad">
                <b>Press Start Button & used it....</b>

            </p>
        </ion-slide>
        <!--<ion-slide>
          <span class="icon icon-slide ion-fork"></span>
          <h3>Find local restaurants</h3>
        </ion-slide>
        <ion-slide>
          <span class="icon icon-slide ion-ios-sunny"></span>
          <h3>Get the weather</h3>
        </ion-slide>-->

    </ion-slide-box>
    <div class="bar bar-footer bar-balanced">
        <div class="title">Sufiyan Bawany</div>
    </div>
</ion-view>