<ion-view view-title="Please Provide Us your basic Info">

    <ion-content class="ooo">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="Abc">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Sur Name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Contact No</span>
                <input type="text" placeholder="0322-#######">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="abd@gmail.com">
            </label>


            <label class="item item-input item-select">
                <div class="input-label">
                    Select Your Share
                </div>
                <select>
                    <option selected>1</option>
                    <option >2</option>
                    <option>3</option>
                    <option >4</option>
                    <option >5</option>
                    <option>6</option>
                    <option >7</option>

                </select>
            </label>


            <ul class="list">

                <li class="item item-toggle">
                    Collect My Location Data So i Can Get Better Experience
                    <label class="toggle toggle-positive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>



            </ul>

            <br>
            <button class="button button-block button-balanced">
                Submit
            </button>
        </div>

    </ion-content>
</ion-view>