<ion-view view-title="Please Provide Us your basic Info" >
    <ion-content>
<h1 class="ist">On Line Istakhara Service </h1>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Full Name:</span>
                <input type="text" placeholder="(required)">
            </label>
            <label class="item item-input">
                <span class="input-label">Mother Name:</span>
                <input type="text" placeholder="(required)">
            </label>
            <label class="item item-input">
                <span class="input-label">Age:</span>
                <input type="number" >
            </label>
            <label class="item item-input item-select">
            <div class="input-label" >
                Select Gender:
            </div>
            <select>
                <option>Select Gender</option>
                <option selected>Male</option>
                <option>Female</option>
            </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Name of Peer-o-Murshid:</span>
                <input type="text" >
            </label>
            <label class="item item-input">
                <span class="input-label">Occupation:</span>
                <input type="text" >
            </label>
            <label class="item item-input">
                <span class="input-label">Country:</span>
                <input type="text" placeholder="(required)">
            </label>
        </div>


















    </ion-content>








</ion-view>