<ion-view view-title="Saylani Welfare Internal Trust" hide-back-button="true">
    <ion-content>
        <div class="list">
            <a id="round" href="#/istakahra" class="item item-icon-left" style="text-align: center">
                <img src="img\Untitled1.jpg" height="100" width="200" >
                <br/>
                Istakhara
            </a>
            <a id="round" href="#/dua" class="item item-icon-left" style="text-align: center">
                <img src="img\Untitled2.jpg" height="100" width="200"  >
                <br/>
                Dua
            </a>
            <a id="round" href="#/MassTrainnig" class="item item-icon-left" style="text-align: center">

                <img src="img\Untitled3.jpg" height="100" width="200"  >
                <br/>
                Mass Trainnig
            </a>
            <a id="round" href="#/Health" class="item item-icon-left" style="text-align: center">
                <img src="img\Untitled5.jpg" height="100" width="200"  >
                <br/>
                Health
            </a>
            <a id="round" href="#/QuranService" class="item item-icon-left" style="text-align: center">
                <img src="img\Untitled6..jpg" height="100" width="200"  >
                <br/>
                Quran Service
            </a>
            <a id="round" href="#/Help" class="item item-icon-left" style="text-align: center">
                <img src="img\Untitled7.jpg" height="100" width="200"  >
                <br/>
                Help
            </a>
            <a id="round" href="#/QurbaniService" class="item item-icon-left" style="text-align: center">
                <img src="img\Untitled8.jpg" height="100" width="200"  >
                <br/>
                Qurbani Service
            </a>
            <a id="round" href="#/ContactDepartment" class="item item-icon-left" style="text-align: center">
                <img src="img\Untitled4.jpg" height="100" width="200"  >
                <br/>
                Contact Department
            </a>






        </div>
    </ion-content>
</ion-view>